<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "org.mybatis/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.furence.recsee.common.dao.LogInfoDao">
	<resultMap id="ListResultMap" type="com.furence.recsee.common.model.LogInfo">
		<result column="R_LOG_DATE" jdbcType="VARCHAR" property="rLogDate" />
		<result column="R_LOG_TIME" jdbcType="VARCHAR" property="rLogTime" />
		<result column="R_LOG_IP" jdbcType="VARCHAR" property="rLogIp" />
		<result column="R_LOG_SERVER_IP" jdbcType="VARCHAR" property="rLogServerIp" />
		<result column="R_LOG_USER_ID" jdbcType="VARCHAR" property="rLogUserId" />
		<result column="R_LOG_CONTENTS" jdbcType="VARCHAR" property="rLogContents" />
		<result column="R_LOG_ETC" jdbcType="VARCHAR" property="rLogEtc" />
	</resultMap>	

	<sql id="commonWhere">
		<where>
			<trim suffixOverrides="AND">
				<if test="rLogDate != null">
				R_LOG_DATE = #{rLogDate} AND
				</if>
				<if test="rLogTime != null">
				R_LOG_TIME = #{rLogTime} AND
				</if>
				<if test="sDate != null and eDate != null">
				R_LOG_DATE BETWEEN #{sDate} AND #{eDate} AND
				</if>
				<if test="sTime != null and eTime != null">
				R_LOG_TIME BETWEEN #{sTime} AND #{eTime} AND
				</if>
				<if test="rLogIp != null">
				R_LOG_IP LIKE '%'||#{rLogIp}||'%' AND
				</if>
				<if test="rLogServerIp != null">
				R_LOG_SERVER_IP LIKE '%'||#{rLogServerIp}||'%' AND
				</if>
				<if test="rLogUserId != null">
				R_LOG_USER_ID LIKE '%'||#{rLogUserId}||'%' AND
				</if>
				<if test="rLogContents != null">
				R_LOG_CONTENTS LIKE '%'||#{rLogContents}||'%'' AND
				</if>
				<if test="rLogEtc != null">
				R_LOG_ETC LIKE '%'||#{rLogEtc}||'%' AND
				</if>
			</trim>
		</where>
	</sql>
	<!-- <sql id="commonWhere" databaseId="sqlserver">
		<where>
			<trim suffixOverrides="AND">
				<if test="rLogDate != null">
				R_LOG_DATE = #{rLogDate} AND
				</if>
				<if test="rLogTime != null">
				R_LOG_TIME = #{rLogTime} AND
				</if>
				<if test="sDate != null and eDate != null">
				R_LOG_DATE BETWEEN #{sDate} AND #{eDate} AND
				</if>
				<if test="sTime != null and eTime != null">
				R_LOG_TIME BETWEEN #{sTime} AND #{eTime} AND
				</if>
				<if test="rLogIp != null">
				R_LOG_IP LIKE '%${rLogIp}%' AND
				</if>
				<if test="rLogServerIp != null">
				R_LOG_SERVER_IP LIKE '%${rLogServerIp}%' AND
				</if>
				<if test="rLogUserId != null">
				R_LOG_USER_ID LIKE '%${rLogUserId}%' AND
				</if>
				<if test="rLogContents != null">
				R_LOG_CONTENTS LIKE '%${rLogContents}%'' AND
				</if>
				<if test="rLogEtc != null">
				R_LOG_ETC LIKE '%${rLogEtc}%' AND
				</if>
			</trim>
		</where>
	</sql> -->
	<select id="selectLogInfo" parameterType="com.furence.recsee.common.model.LogInfo"  resultMap="ListResultMap">
		<!-- SELECT * FROM RS_LOG_INFO
		<include refid="commonWhere"></include>
		ORDER BY
		<choose>
			<when test="orderBy !=null and direction != null">
			${orderBy} ${direction}
			</when>
			<otherwise>
			R_LOG_DATE || R_LOG_TIME || R_LOG_MILLISECONDS DESC
			</otherwise>
		</choose>
		<if test="topCount != null">
		LIMIT ${topCount}
		</if>
		<if test="limitUse eq 'Y'.toString()">
			<choose>
				<when test="count != null and posStart != null">
				LIMIT ${count} OFFSET ${posStart}
				</when>
				<otherwise>
				LIMIT 30 OFFSET 0
				</otherwise>
			</choose>
		</if> -->
	</select>

	<select id="totalLogInfo" parameterType="com.furence.recsee.common.model.LogInfo"  resultType="Integer">
		SELECT COUNT(*) AS TOTAL_COUNT FROM RS_LOG_INFO
		<include refid="commonWhere"></include>
	</select>

	<insert id="insertLogInfo" databaseId="postgres" parameterType="com.furence.recsee.common.model.LogInfo">
	INSERT INTO RS_LOG_INFO
		( R_LOG_DATE, R_LOG_TIME, R_LOG_MILLISECONDS,
		<trim suffixOverrides=",">
			<if test="rLogIp != null">R_LOG_IP, </if>
			<if test="rLogServerIp != null">R_LOG_SERVER_IP, </if>
			<if test="rLogUserId != null">R_LOG_USER_ID, </if>
			<if test="rLogContents != null">R_LOG_CONTENTS, </if>
			<if test="rLogEtc != null">R_LOG_ETC, </if>
		</trim> )
	VALUES
		( TO_CHAR(CURRENT_TIMESTAMP, 'YYYYMMDD'), TO_CHAR(CURRENT_TIMESTAMP, 'HH24MISS'), TO_CHAR(CURRENT_TIMESTAMP, 'MS'),
		<trim suffixOverrides=",">
			<if test="rLogIp != null">#{rLogIp}, </if>
			<if test="rLogServerIp != null">#{rLogServerIp}, </if>
			<if test="rLogUserId != null">#{rLogUserId}, </if>
			<if test="rLogContents != null">#{rLogContents}, </if>
			<if test="rLogEtc != null">#{rLogEtc}, </if>
		</trim>
		)
	</insert>

	<insert id="insertLogInfo" databaseId="sqlserver" parameterType="com.furence.recsee.common.model.LogInfo">
	INSERT INTO RS_LOG_INFO
		( R_LOG_DATE, R_LOG_TIME, R_LOG_MILLISECONDS,
		<trim suffixOverrides=",">
			<if test="rLogIp != null">R_LOG_IP, </if>
			<if test="rLogServerIp != null">R_LOG_SERVER_IP, </if>
			<if test="rLogUserId != null">R_LOG_USER_ID, </if>
			<if test="rLogContents != null">R_LOG_CONTENTS, </if>
			<if test="rLogEtc != null">R_LOG_ETC</if>
		</trim> )
	VALUES
		( CONVERT(VARCHAR(8), GETDATE(), 112), CONVERT(VARCHAR(8), GETDATE(), 114), DATEPART(MILLISECOND,GETDATE()),
		<trim suffixOverrides=",">
			<if test="rLogIp != null">#{rLogIp}, </if>
			<if test="rLogServerIp != null">#{rLogServerIp}, </if>
			<if test="rLogUserId != null">#{rLogUserId}, </if>
			<if test="rLogContents != null">#{rLogContents}, </if>
			<if test="rLogEtc != null">#{rLogEtc} </if>
		</trim>
		)
	</insert>
	
	<insert id="insertLogInfo" databaseId="oracle" parameterType="com.furence.recsee.common.model.LogInfo">
	INSERT INTO RS_LOG_INFO
		( R_LOG_DATE, R_LOG_TIME, R_LOG_MILLISECONDS,
		<trim suffixOverrides=",">
			<if test="rLogIp != null">R_LOG_IP, </if>
			<if test="rLogServerIp != null">R_LOG_SERVER_IP, </if>
			<if test="rLogUserId != null">R_LOG_USER_ID, </if>
			<if test="rLogContents != null">R_LOG_CONTENTS, </if>
			<if test="rLogEtc != null">R_LOG_ETC, </if>
		</trim> )
	VALUES
		( TO_CHAR(CURRENT_TIMESTAMP, 'YYYYMMDD'), TO_CHAR(CURRENT_TIMESTAMP, 'HH24MISS'), TO_CHAR(CURRENT_TIMESTAMP, 'FF'),
		<trim suffixOverrides=",">
			<if test="rLogIp != null">#{rLogIp}, </if>
			<if test="rLogServerIp != null">#{rLogServerIp}, </if>
			<if test="rLogUserId != null">#{rLogUserId}, </if>
			<if test="rLogContents != null">#{rLogContents}, </if>
			<if test="rLogEtc != null">#{rLogEtc}, </if>
		</trim>
		)
	</insert>

	<delete id="deleteLogInfo" parameterType="com.furence.recsee.common.model.LogInfo">
	DELETE FROM RS_LOG_INFO
		<include refid="commonWhere"></include>
	</delete>
	
</mapper>