@charset "UTF-8";

#commonScriptDetailText{
	height : -webkit-fill-available;
    min-height: 20px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
	padding : 5px;
}

.searchCommonScript div {
	font-family: -apple-system !important;
}

#searchCommon {
	width: 791px !important;
}

#commonPopup{
    position: absolute;
    height: auto;
    padding-bottom: 5px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    z-index: 104;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, 'Noto Sans KR', Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    border-radius: 5px;
}

#commonHeader{
	height: 35px;
	background-color: #1760F0;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px 5px 0 0;
}

#common_tit{
	color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#commonCloseTopBtn{
	display: block;
	width: 16px;
	height: 16px;
}

#commonModalBody{
	padding: 16px 16px 0px 16px;
	display: flex;
    justify-content: center;
}

#commonGridPlusSearch{
	float: left;
}

#commonSearchField{
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
}

#commonSearchTTS, #commonSearchBy{
	padding-right: 20px;
	box-sizing: border-box;
	outline: none;
	text-overflow: ellipsis;
	border: 1px solid #CED3D9;
	border-radius: 4px;
	height: 26px;
	padding: 0 4px;
	color: #111418;
	width: 100px;
	margin-left: 0;
	flex: 0 0 auto;
}

#commonSearchText{
	width: 480px;
}

#searchCommonBtn {
	background: #111418;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border: 0;
	width: 55px;
	border-radius: 4px;
	cursor: pointer;
	height: 26px;
	margin-left: 5px;
}

#scriptCommonGrid table.hdr td{
	border: none;
	height: 18px;
	padding: 5px;
}

#scriptCommonGrid .xhdr{
	border: none !important;
	border-top: 1px solid #DEE1E7 !important;
	border-bottom: 1px solid #DEE1E7 !important;
}

#scriptCommonGrid {
	border: none;
}

div.hdrcell {
	font-weight:700;
}

#scriptCommonGrid .hdrcell .commonTitleLeft{
	text-align:left;
	padding:5px;
	font-size:12px;
	font-weight:700;
	color:#000;
}

#scriptCommonGrid .hdrcell .commonTitleCenter{
	text-align:center;
	font-size:12px;
	font-weight:700;
	color:#000;
}

.searchCommonScript div{
/*	color: #8A93A4; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap !important;
}

div.gridbox_dhx_web.gridbox table.obj tr td{
	border-right:none;
	border-bottom:none;
} 

#commonFooter {
	padding: 0;
	font-stretch: ultra-expanded;
	height: 30px;
}

#commonButtons {
	padding: 0 16px;
}

.common-btn-grey {
    background-color: #8A93A4;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.common-btn-primary {
	background-color: #1760F0;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

[class^="common-btn-"] {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	border: 0;
	width: 63px;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 4px;
	font-size: 13px;
}

#common_updateDate {
	border: none;
	font-size: 10pt !important;
	color: #000 !important;
}

#commonButtonLeft {
	float: left;
	padding-top: 16px;
	padding-bottom: 16px;
}

#commonButtonRight {
	float: right;
	padding: 16px 64px;
}

#commonScriptDetail {
	height: 440px;
	display: inline-block;
}

.commonInfoTable {
	table-layout: fixed;
	width: 100%;
	padding: 0 30px;
}

.commonInfoTable th {
	width: 90px;
	text-align: left;
	font-weight: 700;
	vertical-align: middle;
	font-size: 12px;
	padding: 4px 0;
}

#commonInfoPopupTable th {
	width: 40px;
	text-align: left;
	font-weight: 700;
	vertical-align: middle;
	font-size: 12px;
	padding: 4px 0;
}

.commonInfoTable td {
	padding: 4px 0;
}

.common_input, .common_select{
	width: 100%;
	background-color: #fff;
	border: 1px solid #CED3D9;
	border-radius: 4px;
	height: 26px;
	box-sizing: border-box;
	padding: 0 4px;
	font-family: monospace;
	font-size: 12px;
}

#common_text {
	height : 70px;
	resize: none;
	width: 100%;
	line-height: 1.5;
	letter-spacing: 0;
	border-radius: 4px;
	border: 1px solid #dddddd;
}

#common_text_title {
	vertical-align: top !important;
	padding-top: 10px !important;
}

div {
	margin: 0;
}

#commonDatePopupCloseBtn {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}


/*********** 하위메뉴 *****************/
#commonPaging {
	border-bottom: 1px solid #29c05a  !important;
}

/*********** 달력 *****************/
#saveApplyDatePopup {
    position: absolute;
    height: auto;
    padding-bottom: 5px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    z-index: 104;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, 'Noto Sans KR', Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    border-radius: 5px;
    text-align: center;
}

#saveApplyDateHeader {
	height: 35px;
	background-color: #1760F0;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px 5px 0 0;
}

#applyDateTitle {
	color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#datePopupCloseBtn {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#saveApplyDateBody {
	width: 300px;
}

#selectDateTable {
	table-layout: fixed;
	width: 100%;
	padding: 20px 10px;
}

#selectDateTable th {
	width: 100px;
	text-align: center;
	font-weight: 700;
	vertical-align: middle;
	font-size: 14px;
	padding: 4px 0;
}

#selectDateTable td {
	padding: 4px 0;
}

#dateButtons {
	display: inline-block;
	margin-bottom: 10px;
}

.date-btn-grey {
    background-color: #8A93A4;
}

.date-btn-primary {
	background-color: #1760F0;
	margin-left: 30px;
}

[class^="date-btn-"] {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	border: 0;
	width: 63px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 13px;
	color: #fff;
}

/* 검색관련 */
#searchBox_popup {
	position: relative;
}

#keywordRemoveImg_popup {
	width: 30px;
	height: 15px;
	background-image: url('../../../../images/project/icon/wooribank/icon_btn_exit_gray.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 10px;
	position: absolute;
	right: 0px;
	bottom: 5px;
	cursor: pointer;
}