@charset "UTF-8";
*******************************************************************************	
*******************************************************************************
/* 스크립트 조회 페이지*/


/* #fixed_div{ */
/* 	width: 1900px  !important;		 */
/* } */

/* #searchKeyword{ */
/* 	width: 1125px !important; */
/* } */


[id^="scriptDetailText"] {
	font-size: 12px !important;
}

#script_info_box{
 	width: 100%  !important;  
    height: 830px !important;   
/*     height: 850px !important;    */
    background-color: white !important;
    padding: 0px !important;  
   	float: left !important;
    font-size: 14px !important;
}
.search_btn{
	margin-top : 3px !important;
}
/* #searchBox { */
/* 	position: relative; */
/* } */
#keywordRemoveImg {
	width: 30px;
	height: 15px;
	background-image: url('../../../../images/project/icon/wooribank/icon_btn_exit_white.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 10px;
	position: absolute;
	right: 15px;
	bottom: 5px;
	cursor: pointer;
}

#script_info_box ul select{
    width: 100px !important;
    height: 26px !important;
    border-radius : 4px !important;
    float: left !important;
    display: block !important;
    border: 1px solid #dddddd !important;
    padding-left: 3px !important;
    font-size : 14px !important;
}

/*상품 내역검색 input창 */
/* .search_script_contents{ */
/* 	width: 1500px !important; */
/*     height: 28px !important; */
/*     line-height: 28px !important; */
/*     background-color: transparent !important; */
/*     border: 0 !important; */
/*     border-bottom: 1px solid #fff !important; */
/*     color: white !important; */
/*     margin-right: 10px !important; */
/*     margin-left: 15px !important; */
/*     box-sizing: border-box !important; */
/*     outline: 0 !important; */
/*     border-radius: 0 !important; */
/*    	padding-left: 0 !important; */
/* 	} */


#search_script_grid{
	width: 1915px !important;
   	height: 735px !important;
}

.right_bottom_btn{
    margin-top: 0px !important;
   	margin-right: 2px !important;
   	width: auto !important;
   	float: right !important;
}

.direct_Scipt_Insert_Btn{
	width: 87px  !important;
    height: 38px  !important;
    margin: 0px 0px 0px -10px !important;
	text-align: center !important;
    float: left !important;
}




/* 스크립트 조회 페이지 신규수정*/

/*조회 section class */
.filter {
    background-color: #4cb51e !important;
    padding: 7px !important;
    height : 88px !important;
}

#searchBtn{
	width : 63px !important;
	height : 26px !important ;
	background: #111418 !important;
    color: #fff !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;	
    float : none !important;	
}
	
.script_edit_line1 .script_edit_title2{
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start;
    margin-bottom: 16px !important;
	
}	
.script_edit_line1 .script_edit_title2 input{
	    width: calc(100% - 70px) !important;
	    height : 20px !important;
	    border-radius : 4px !important;	
}

.script_edit_line2 .script_edit_content_btn {
/*     display: inline-block !important; */
/*     display: flex !important; */
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom: 4px !important;
}




	
	

*******************************************************************************	
*******************************************************************************	

/* 스크립트 조회 페이지*/


}
#cancel_scriptGrid_btn{
	font-size: 14px !important;
    dispaly: none !important;
    float: right !important;
    margin-left: 10px !important;
    width: 50px !important;
    height: 22px !important;
	
}


#scriptGrid.gridbox table.obj td{
	border : 0px!important;
}

#scriptGrid.gridbox {
	border : 0px !important;
}


#scriptGrid>.xhdr {
	height: 0px !important;
}

#scriptTreeGrid ul {
	width: 100% !important;
	height: 100% !importants;
}

#scriptTreeGrid ul li {
	width: 400px !important;
	height: 40px !important;
	font-size: 14px !important;
	text-align: left !important;
	color: #000000 !important;
	border: 1px solid #efefef !important;
	border-collapse: collapse !important;
	padding: 20px 40px 0px !important;
	vertical-align: middle !important;
	cursor: pointer !important;
}

#scriptTreeGrid ul li:hover {
	background-color: #deedff !important;
}

.genneralCheck common{
	width : 140px  !important;
	margin-left : 2px   !important;
	
}


#rightButtonWrap {
	margin-left:29%; 
}


/* 스크립트  ELt 상품 조건 표출 될 bar*/
.eltProductCondition{
    overflow-y: hidden;
    overflow-x: auto;
    width: 1454px !important;
    line-height: 20px !important;
    height: auto;
    margin: 2px 0px 0px 0px;
    display: inline-flex;
}

.eltProductValue{ 
    border: 1px solid #dddddd;
    border-radius: 5px !important;
    line-height: 20px !important;
    margin: 0px 0px 0px 0px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 0px 5px 0px 5px;		
}

.eltProductConditionName{
    width: auto;
    color : white;
    font-weight : 100;
    font-size : 11px;
}

*******************************************************************************	
*******************************************************************************	
/* /
@media screen and (min-width:0\0){
	
	
}
	