@charset "UTF-8";

@font-face {
    font-family: 'Noto Sans Kr' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    src:
      local('Noto Sans Regular'),
      local('NotoSans-Regular');
}
@font-face {
    font-family: 'Noto Sans Kr' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    src:
      local('Noto Sans Bold'),
      local('NotoSans-Bold');
}

html {
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica
        Neue, 'Noto Sans KR', Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

#tableBox {
	float:left;
}

table {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	margin: 20px 10px;
}

table th {
	width: 150px;
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
	vertical-align: top;
	background: #fff;
	color: black;
	border-bottom: 2px solid #dee1e7;
	margin: 6px 5px 0 6px;
}

table td {
	width: 150px;
	padding: 10px;
	font-size: 14px;
	vertical-align: top;
	background: #fff;
	color: black;
}

#dataBox {
	float: left;
	width: 80%;
	margin-left: 30px;
}

#history {
	width: 100%;
}

#downloadArea {
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
}

.scriptDownload {
	margin-top: 10px;
	display: flex;
	align-items: center;
	height: 24px;
	width : auto;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	background-color: #f9f9f9;
	justify-content: space-around;
	align-content: flex-end;
	font-size: 14px;
	font-weight: bold;
	padding: 0 5px;
	cursor: pointer;
}

#pdfDownload {
	margin-left: 10px;
}

#titleInfo {
	display: flex;
	justify-content: space-between;
}

#historyDate {
	width: 90px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #4c52c3;
	color: #fff;
}

#userInfo {
	height: 20px;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	align-items: center;
}

.userInfoTitle {
	font-weight: bold;
	margin-right: 5px;
	color: #083378;
}

.userInfo {
	margin-right:20px;
}

.stepNameWrap {
	width: 98%;
	height: auto;
	border: 1px solid #dbdbdb;
	border-radius : 4px !important;
	background-color: #f9f9f9 !important;
	margin-bottom : 15px;
	padding :5px;
}

.stepNameArr {
	width: 22px;
	height: 20px;
	text-align: center;
	display: inline-block;
}

.stepName {
	width : 70% ;
	height : 20px;
	line-height : 20px;
	margin-bottom : 2px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}

.stepDetailWrap {
	width: 96%;
	height: auto;
	margin: 8px 0px 10px 6px;
	background-color: #fff;
	padding: 5px;
	font-size: 12px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	display: inline-block;
}

.stepDetailType {
	font-weight: bold;
	float: left;
	width: 120px;
	height: 15px;
	padding: 5px;
	color: #083378;
	text-align: left;
}

.stepDetailText {
	width: 99%;
	height: auto;
	line-height: 16px;
	border-radius: 4px;
	background-color: #fff;
	margin-bottom: 2px;
	padding: 3px;
	float: left;
	font-family: monospace;
}

pre {
	white-space: pre-wrap;
}

.downloadImage {
	margin-right: 5px;
}

#detailCondition{
    display: inline-block;
    width: 99%;
    padding: 3px 3px 0px 3px;
    border-top: 1px solid #0c24cb;
}
.detailTypeCon{
    font-weight: bold;
    float: left;
    width: auto;
    height: 15px;
    padding: 5px;
    color: #0c24cb;
    text-align: center;	
    font-size : 10px;
}
