<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "org.mybatis/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.furence.recsee.admin.dao.PasswordPolicyDao">
	<resultMap id="BaseResultMap" type="com.furence.recsee.admin.model.PasswordPolicyInfo">
		<result column="R_POLICY_USE" jdbcType="VARCHAR" property="rPolicyUse" />
		<result column="R_CYCLE_USE" jdbcType="VARCHAR" property="rCycleUse" />
		<result column="R_CYCLE" jdbcType="VARCHAR" property="rCycle" />
		<result column="R_CYCLE_TYPE" jdbcType="VARCHAR" property="rCycleType" />
		<result column="R_PAST_PW_USE" jdbcType="VARCHAR" property="rPastPwUse" />
		<result column="R_PAST_PW_COUNT" jdbcType="VARCHAR" property="rPastPwCount" />
		<result column="R_TRY_USE" jdbcType="VARCHAR" property="rTryUse" />
		<result column="R_TRY_COUNT" jdbcType="VARCHAR" property="rTryCount" />
		<result column="R_LOCK_USE" jdbcType="VARCHAR" property="rLockUse" />
		<result column="R_LOCK_COUNT" jdbcType="VARCHAR" property="rLockCount" />
		<result column="R_LOCK_TYPE" jdbcType="VARCHAR" property="rLockType" />

	</resultMap>

	<select id="selectRPasswordPolicyInfo" parameterType="com.furence.recsee.admin.model.PasswordPolicyInfo" resultMap="BaseResultMap">
		SELECT *
		FROM RS_PASSWORD_POLICY_INFO
	</select>

	<update id="updateRPasswordPolicyInfo" parameterType="com.furence.recsee.admin.model.PasswordPolicyInfo" databaseId="postgres">
		UPDATE RS_PASSWORD_POLICY_INFO
		<set>
			<if test="rPolicyUse != null">
				R_POLICY_USE = #{rPolicyUse}
				<if test="rCycleUse != null">
					,R_CYCLE_USE = #{rCycleUse}
				</if>
				<if test="rCycle != null">
					,R_CYCLE = #{rCycle}::integer
				</if>
				<if test="rCycleType != null">
					,R_CYCLE_TYPE = #{rCycleType}
				</if>
				<if test="rPastPwUse != null">
					,R_PAST_PW_USE = #{rPastPwUse}
				</if>
				<if test="rPastPwCount != null">
					,R_PAST_PW_COUNT = #{rPastPwCount}::integer
				</if>
				<if test="rTryUse != null">
					,R_TRY_USE = #{rTryUse}
				</if>
				<if test="rTryCount != null">
					,R_TRY_COUNT = #{rTryCount}::integer
				</if>
				<if test="rLockUse != null">
					,R_LOCK_USE = #{rLockUse}
				</if>
				<if test="rLockCount != null">
					,R_LOCK_COUNT = #{rLockCount}::integer
				</if>
				<if test="rPastPwCount != null">
					,R_LOCK_TYPE = #{rLockType}
				</if>
			</if>
		</set>
	</update>
	
	<update id="updateRPasswordPolicyInfo" parameterType="com.furence.recsee.admin.model.PasswordPolicyInfo" databaseId="sqlserver">
		UPDATE RS_PASSWORD_POLICY_INFO
		<set>
			<if test="rPolicyUse != null">
				R_POLICY_USE = #{rPolicyUse}
				<if test="rCycleUse != null">
					,R_CYCLE_USE = #{rCycleUse}
				</if>
				<if test="rCycle != null">
					,R_CYCLE = convert(integer,#{rCycle})
				</if>
				<if test="rCycleType != null">
					,R_CYCLE_TYPE = #{rCycleType}
				</if>
				<if test="rPastPwUse != null">
					,R_PAST_PW_USE = #{rPastPwUse}
				</if>
				<if test="rPastPwCount != null">
					,R_PAST_PW_COUNT = convert(integer,#{rPastPwCount})
				</if>
				<if test="rTryUse != null">
					,R_TRY_USE = #{rTryUse}
				</if>
				<if test="rTryCount != null">
					,R_TRY_COUNT = convert(integer,#{rTryCount})
				</if>
				<if test="rLockUse != null">
					,R_LOCK_USE = #{rLockUse}
				</if>
				<if test="rLockCount != null">
					,R_LOCK_COUNT = convert(integer,#{rLockCount})
				</if>
				<if test="rPastPwCount != null">
					,R_LOCK_TYPE = #{rLockType}
				</if>
			</if>
		</set>
	</update>
	
	<update id="updateRPasswordPolicyInfo" parameterType="com.furence.recsee.admin.model.PasswordPolicyInfo" databaseId="oracle">
		UPDATE RS_PASSWORD_POLICY_INFO
		<set>
			<if test="rPolicyUse != null">
				R_POLICY_USE = #{rPolicyUse}
				<if test="rCycleUse != null">
					,R_CYCLE_USE = #{rCycleUse}
				</if>
				<if test="rCycle != null">
					,R_CYCLE = TO_NUMBER(#{rCycle})
				</if>
				<if test="rCycleType != null">
					,R_CYCLE_TYPE = #{rCycleType}
				</if>
				<if test="rPastPwUse != null">
					,R_PAST_PW_USE = #{rPastPwUse}
				</if>
				<if test="rPastPwCount != null">
					,R_PAST_PW_COUNT = TO_NUMBER(#{rPastPwCount})
				</if>
				<if test="rTryUse != null">
					,R_TRY_USE = #{rTryUse}
				</if>
				<if test="rTryCount != null">
					,R_TRY_COUNT = TO_NUMBER(#{rTryCount})
				</if>
				<if test="rLockUse != null">
					,R_LOCK_USE = #{rLockUse}
				</if>
				<if test="rLockCount != null">
					,R_LOCK_COUNT = TO_NUMBER(#{rLockCount})
				</if>
				<if test="rPastPwCount != null">
					,R_LOCK_TYPE = #{rLockType}
				</if>
			</if>
		</set>
	</update>
</mapper>