@charset "UTF-8";

@font-face{
    font-family: sh;
/*     src : url('./font/KoPub Dotum Light.ttf'); */
/*      src : url('./font/OneShinhanLight.ttf');  */
/*     src : url('./font/BMDOHYEON_ttf.ttf'); */
/*    src : url('./font/MaruBuri-Regular.ttf'); */
/*    src : url('./font/MaruBuri-SemiBold.ttf'); */
   src : url('./font/NanumGothic.ttf');
/*    src : url('./font/MaruBuri-Regular.ttf'); */
}
*{
    font-family: sh !important;
} 
div.gridbox_dhx_web.gridbox table.hdr td {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-color: #eaeaea !important;
    background-color: #dad7d7 !important;
    font-size: 14px !important;
    color: #666666;
    text-align: center;
    vertical-align: middle;
}

.objbox::-webkit-scrollbar{
/* 	width:0px; */

}

.objbox::-webkit-scrollbar-thumb{
/* 	width:0px; */
    border-radius: 10px;

}

.objbox::-webkit-scrollbar-track{
/* 	width:0px; */
    border-radius: 10px;
}

div.gridbox_dhx_web.gridbox .xhdr {
    text-align: center !important;
    font-size: 14px !important;
    background-color: #ffffff !important;
    border-bottom-width: 0px !important;
    border-bottom-style: 0px solid !important;
    /* border-bottom-color: white !important;
}

div.gridbox_dhx_web.gridbox table.obj.row20px tr.rowselected td {
    background-color: #ffffffbf !important;
   border-right: 0px !important;
}

